PORT=3000

# Database Configuration
DB_HOST=localhost
DOCKER_DB_PORT=3037
DOCKER_DB_USER=gestor_user
DOCKER_DB_PASSWORD=your_password_here
DB_PORT=3306
DB_USER=gestor_user
DB_PASSWORD=your_password_here
DB_NAME=gestor_academico_db
